.root {
    -fx-font-family: "Segoe UI";
}

.content {
    -fx-background-color: white;
}

.app-title {
    -fx-text-fill: #2b3256;
    -fx-font-weight: bold;
    -fx-font-size: 26px;
}

.action-button {
    -fx-background-color: #309aee;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.action-button:hover {
    -fx-background-color: #228cd8;
    -fx-cursor: hand;
}

.sidebar {
    -fx-background-color:white;
    -fx-padding: 10;
}

.nav-container {
    -fx-padding: 10;
}

.chosen-container {
    -fx-background-color: #e0effc;
    -fx-text-fill:#28324D;
    /*-fx-padding: 10;*/
    -fx-background-radius: 0 25 25 0;
}

#overviewContainer .image-view{
    -fx-image: url("/ui/admindashboard/dashboard1.png");
}

#booksContainer .image-view {
    -fx-image: url("/ui/admindashboard/book.png");
}

#membersContainer .image-view {
    -fx-image: url("/ui/admindashboard/member.png");
}

#settingContainer .image-view {
    -fx-image: url("/ui/admindashboard/settings.png");
}

#aboutContainer .image-view{
    -fx-image: url("/ui/admindashboard/info.png");
}

#helpContainer .image-view {
    -fx-image: url("/ui/admindashboard/headphones.png");
}

.nav-container:hover .label
{
    -fx-text-fill:#28324D;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.nav-container:hover {
    /* border radius chi khi co border thoi*/
    -fx-background-radius: 0 25px 25px 0;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: #309aee;
}
#overviewContainer:hover .image-view{
    -fx-image: url("/ui/admindashboard/dashboard.png");
}

#booksContainer:hover .image-view{
    -fx-image: url("/ui/admindashboard/book1.png");
}

#membersContainer:hover .image-view{
    -fx-image: url("/ui/admindashboard/group.png");
}

#aboutContainer:hover .image-view{
    -fx-image: url("/ui/admindashboard/information.png");
}

#settingContainer:hover .image-view{
    -fx-image: url("/ui/admindashboard/gear.png");
}

#helpContainer:hover .image-view{
    -fx-image: url("/ui/admindashboard/headphones1.png");
}


.small-label {
    -fx-text-fill: #8a9199;
}

.search-box {
    -fx-background-color: #F8FCFF;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
}

#searchField {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-text-fill: #8a9199;
    -fx-font-size: 16px;
}

#memNameLabel {
    -fx-text-fill: #28324D;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.total-container {
    -fx-background-color: #f8fcff;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-spacing: 5;
    -fx-border-color: #e3e9ef;
}

.stat-number {
    -fx-text-fill: #272f54;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.stat-label {
    -fx-text-fill: #8a9199;
    -fx-font-size: 12px;
}

/* Section Titles */
.section-title {
    -fx-text-fill: #272f54;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.title-pane {
    -fx-background-color:#F8FCFF;
}

.details-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #EEE8E8;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.list-view {
    -fx-border-width: 0;
}

.list-view .list-cell {
    -fx-background-color: #FAFBFC;
    /*-fx-border-color: #E0E0E0;*/
}

.list-view .list-cell:hover {
    -fx-background-color: #F0F4F8;
}

.list-view .scroll-bar {
    -fx-background-color: #FAFBFC;
}
.list-view .scroll-bar .thumb {
    -fx-background-color:#CEDFF9;
    -fx-border-radius: 5px;
}

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-background-color: #FAFBFC;
    -fx-opacity: 0;
}

/*.tab-pane {*/
/*    -fx-background-color: #FAFBFC;*/
/*    -fx-border-color: #EEE8E8;*/
/*    -fx-border-radius: 5;*/
/*    -fx-background-radius: 5;*/
/*}*/


/* for book info*/
.chosen-button {
    -fx-background-color: #283055;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

.bar-button {
    -fx-background-color: #F4F7FE;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #CAD6E4;
    -fx-text-fill: #28324D;
}

.bar-label1 {
    -fx-text-fill: #1D69A3;
    -fx-background-color: #D3EAFC;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.bar-box {
    -fx-background-color: #F4F7FE;
}

.bar-box-below .label {
    -fx-background-color: #F8FCFF;
    -fx-text-fill: #8a9199;
    -fx-font-size: 14px;
}

.bar-label {
    -fx-text-fill:#28324D;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.bar-label-right {
    -fx-background-color: #309AEE;
    -fx-background-radius: 5px;
    -fx-text-fill:white;
    -fx-font-size: 13px;
}
.book-info-chosen-container {
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #309aee;
}

.book-info-container:hover {
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #309aee;
}

.bar-box-top {
    -fx-background-color: #FAFBFC;
}



