.root {
    -fx-font-family: "Serif";
}

.sidebar {
    -fx-background-color: #fffdf5;
}

.chosen-container {
    -fx-background-color: #e7f1a8;
    -fx-background-radius: 50%;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

.chosen-container:hover {
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

#homeNav .image-view {
    -fx-image: url("/ui/user/user-home.png") ;
}

#favNav .image-view {
    -fx-image: url("/ui/user/bookmark.png") ;
}

#requestNav .image-view {
    -fx-image: url("/ui/user/conversation.png");
}

#brNav .image-view {
    -fx-image: url("/ui/user/borrow.png") ;
}

#searchNav .image-view {
    -fx-image: url("/ui/user/search.png") ;
}


#homeNav:hover .image-view {
    -fx-image: url("/ui/user/home-hover.png") ;
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

#favNav:hover .image-view {
    -fx-image: url("/ui/user/save-hover.png") ;
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

#requestNav:hover .image-view {
    -fx-image: url("/ui/user/request-hover.png");
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

#brNav:hover .image-view {
    -fx-image: url("/ui/user/borrow-hover.png") ;
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

#searchNav:hover .image-view {
    -fx-image: url("/ui/user/seach-hover.png") ;
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

.content {
    -fx-background-color: #fffdf5 70%;
}

#logoutButton {
    -fx-background-color: #E76359;
    -fx-text-fill: #fffdf5;
    -fx-border-radius: 20;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Slab";
}

#logoutButton:hover {
    -fx-background-color: #dc5f57;
}

#searchField {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #323040;
    -fx-prompt-text-fill: #77654B;
}

.list-view1 {
    -fx-background-color: #e7f1a8;
    -fx-border-radius:7;
    -fx-background-radius: 7;
    -fx-border-width: 0;
    /*-fx-border-color: #e7f1a8;*/
}

.list-view1 .list-cell {
    -fx-background-color: #e7f1a8;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-font-family: "Rockwell";
}

.list-view1 .list-cell:hover {
    -fx-background-color: #f2fdbf;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.list-view1 .scroll-bar {
    -fx-background-color:  #e7f1a8;
}
.list-view1 .scroll-bar .thumb {
    -fx-background-color:#f2fdbf;
    -fx-border-radius: 5px;
}

.list-view1 .scroll-bar .increment-button,
.list-view1 .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

.list-view2 {
    -fx-background-color: #fffdf5;
    -fx-border-radius:7;
    -fx-background-radius: 7;
    -fx-border-width: 0;
    /*-fx-border-color: #e7f1a8;*/
}

.list-view2 .list-cell {
    -fx-background-color: #fffdf5;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-font-family: "Serif";
}

.list-view2 .list-cell:hover {
    -fx-background-color: #e9f1ff;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.list-view2 .scroll-bar {
    -fx-background-color: #fffdf5;
}
.list-view2 .scroll-bar .thumb {
    -fx-background-color:#95b1ee;
    -fx-border-radius: 5px;
}

.list-view2 .scroll-bar .increment-button,
.list-view2 .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

#searchScreenRoot {
    /*-fx-background-image: url("images/flower_background.jpg");*/
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#memNameLabel {
    -fx-font-size: 16px;
    -fx-text-fill: #364c84;
}

