.root {
    -fx-font-family: "Segoe UI";
}

#bookImage {
    -fx-effect: dropshadow(three-pass-box, #D5D6D8 , 10, 0, 0, 5);
}

.big-label {
    -fx-font-size: 15px;
    -fx-text-fill: #28324D;
}

#requestLabel {
    -fx-font-size: 15px;
    -fx-text-fill: #8a9199;
}

.small-label {
    -fx-font-size: 15px;
    -fx-text-fill: #8a9199;
}


#paidButton{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #CB755C;
    -fx-background-color: #F9EBEA;
    -fx-background-radius: 5;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
    -fx-border-color: #EEE8E8;
}

#paidButton:hover {
    -fx-background-color: #f1d4d2;
    -fx-text-fill: #bc6c52;
}

#statusLabel {
    -fx-text-fill:  #1D69A3;
    -fx-background-color: #CEDFF9;
    -fx-background-radius: 5;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
    -fx-border-color: #EEE8E8;
    -fx-padding: 5 20 5 20;
}

/*#denyButton {*/
/*    -fx-text-fill: #CB755C;*/
/*    -fx-background-color: #F9EBEA;*/
/*    -fx-background-radius: 5;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 5;*/
/*    -fx-border-color: #EEE8E8;*/
/*}*/




